body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: black;
}
#container {
    position: relative;
}

.puzzle-container {
    background: white;
}

.timeAndMoves {
    margin-bottom: 16px;
    overflow: hidden;
    text-transform: uppercase;
}

.time {
    float: left;
}
.moveCount {
    float: right;
    text-align: right;
}
#time, #moveCount {
    margin: 0;
}

.label {
    margin: 0;
    font-size: 14px;
}

#puzzle {
    background: repeating-linear-gradient(-45deg, #222, #222 10px, #444 10px, #444 20px);
}

.start-help {
    position:absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    /*width: 337px;*/
    padding: 20px 40px;
    color: white;
    background-color: rgba(51,51,51,.8);
    opacity: 0;
}

.start-help h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
}

.piece {
    position: relative;
    background-image: url("../img/smiley.jpg");
    border: 1px solid #777;
}

.hideText {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.solved {
    border: 0;
}

.piece0 { background: none; }
.piece1 { background-position: 0 0; }

.threeCol.piece2 { background-position: 50% 0; }
.threeCol.piece3 { background-position: 100% 0; }
.threeCol.piece4 { background-position: 0 50%; }
.threeCol.piece5 { background-position: 50% 50%; }
.threeCol.piece6 { background-position: 100% 50%; }
.threeCol.piece7 { background-position: 0 100%; }
.threeCol.piece8 { background-position: 50% 100%; }
.threeCol.piece9 { background-position: 100% 100%; }

.fourCol.piece2 { background-position: 33% 0; }
.fourCol.piece3 { background-position: 66% 0; }
.fourCol.piece4 { background-position: 100% 0; }
.fourCol.piece5 { background-position: 0 33%; }
.fourCol.piece6 { background-position: 33% 33%; }
.fourCol.piece7 { background-position: 66% 33%; }
.fourCol.piece8 { background-position: 100% 33%; }
.fourCol.piece9 { background-position: 0 66%; }
.fourCol.piece10 { background-position: 33% 66%; }
.fourCol.piece11 { background-position: 66% 66%; }
.fourCol.piece12 { background-position: 100% 66%; }
.fourCol.piece13 { background-position: 0 100%; }
.fourCol.piece14 { background-position: 33% 100%; }
.fourCol.piece15 { background-position: 66% 100%; }
.fourCol.piece16 { background-position: 100% 100%; }

.fiveCol.piece2 { background-position: 25% 0; }
.fiveCol.piece3 { background-position: 50% 0; }
.fiveCol.piece4 { background-position: 75% 0; }
.fiveCol.piece5 { background-position: 100% 0; }
.fiveCol.piece6 { background-position: 0 25%; }
.fiveCol.piece7 { background-position: 25% 25%; }
.fiveCol.piece8 { background-position: 50% 25%; }
.fiveCol.piece9 { background-position: 75% 25%; }
.fiveCol.piece10 { background-position: 100% 25%; }
.fiveCol.piece11 { background-position: 0 50%; }
.fiveCol.piece12 { background-position: 25% 50%; }
.fiveCol.piece13 { background-position: 50% 50%; }
.fiveCol.piece14 { background-position: 75% 50%; }
.fiveCol.piece15 { background-position: 100% 50%; }
.fiveCol.piece16 { background-position: 0 75%; }
.fiveCol.piece17 { background-position: 25% 75%; }
.fiveCol.piece18 { background-position: 50% 75%; }
.fiveCol.piece19 { background-position: 75% 75%; }
.fiveCol.piece20 { background-position: 100% 75%; }
.fiveCol.piece21 { background-position: 0 100%; }
.fiveCol.piece22 { background-position: 25% 100%; }
.fiveCol.piece23 { background-position: 50% 100%; }
.fiveCol.piece24 { background-position: 75% 100%; }
.fiveCol.piece25 { background-position: 100% 100%; }

*.unselectable {
    cursor: default;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix {
    clear: both;
}