
.puzzle-container {
    width: 337px;
    margin: 50px auto;
    padding: 40px;
}

.timeAndMoves {
    margin-bottom: 16px;
    overflow: hidden;
    text-transform: uppercase;
}

.time {
    float: left;
}
.moveCount {
    float: right;
    text-align: right;
}
#time, #moveCount {
    margin: 0;
}

.label {
    margin: 0;
    font-size: 14px;
}

#puzzle {
    height: 336px;
    width: 336px;
}

.start-help {
    position:absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 337px;
    padding: 20px 40px;
    color: white;
    background-color: rgba(51,51,51,.8);
    opacity: 0;
}

.start-help h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
}