
.puzzle-container {
    width: 337px;
    margin: 0 auto;
    padding: 40px;
}

.timeAndMoves {
    margin-bottom: 16px;
    overflow: hidden;
    text-transform: uppercase;
}

.time {
    float: left;
}
.moveCount {
    float: right;
    text-align: right;
}
#time, #moveCount {
    margin: 0;
}

.label {
    margin: 0;
    font-size: 14px;
}

#puzzle {
    height: 336px;
    width: 336px;
}

.start-help {
    width: 337px;
}

.start-help h3 {
    margin: 0 0 5px 0;
    font-weight: normal;
}